**/bin/
**/obj/
/ProjectManagement/ProjectManagement.Api/obj
/ProjectManagement/ProjectManagement.Api/bin
.vs
/ProjectManagement/ProjectManagement.Tests/obj
/ProjectManagement/ProjectManagement.Tests/bin
